@import "var";
@import "mixin";

*{
  margin: 0;
  padding: 0;
  list-style: none;
}
.box{
  width: $width;
  height: $width;
  @include center;
  overflow: hidden;
  background-image: url("../image/timg.jpg");
  @include backImg;
}

.heng{
  width: $width - $r *2;
  height: 1px;
  position: absolute;
  left: $r;
  background: #333333;
  transform: translate3d(-200%,0,0);
  animation: through 1s ease-in forwards;
}
.shu{
  height: $width - $r *2;
  width: 1px;
  position: absolute;
  top: $r;
  background: #333333;
  transform: translate3d(0,-200%,0);
  animation: down 1s ease-in forwards;
}
@for $i from 1 through 15{
  .heng:nth-of-type(#{$i}){
    top: (2*$i - 1)*$r;
    animation-delay: 50ms *$i;
  }
  .shu:nth-of-type(#{$i}){
    left: (2*$i - 1)*$r;
    animation-delay: 50ms *$i;
  }
}

@keyframes down {
  from{
    transform: translate3d(0,-200%,0);
  }
  to{
    transform: translate3d(0,0,0);
  }
}

@keyframes through {
  from{
    transform: translate3d(-200%,0,0);
  }
  to{
    transform: translate3d(0,0,0);
  }
}
.chess{
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 999;
  border-radius: 50%;
  float: left;
  margin: 5px;
}

.black{
  background: #000000;
  box-shadow: 0 0.04rem 0.2rem 0 rgba(2, 2, 2, 0.5);
}
.white{
  background: #FFFFFF;
  box-shadow: 0 0.04rem 0.2rem 0 rgba(61, 61, 61, 0.5);
}